Source: braa
Section: net
Priority: extra
Maintainer: dookie <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://s-tech.elsat.net.pl/
Vcs-Git: ssh://git@git.kali.org/packages/braa.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/braa.git;a=summary

Package: braa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mass SNMP scanner
 Braa is a mass snmp scanner. The intended usage of such a tool is of course 
 making SNMP queries - but unlike snmpget or snmpwalk from net-snmp, it is able
 to query dozens or hundreds of hosts simultaneously, and in a single process.
 Thus, it consumes very few system resources and does the scanning VERY fast.
 .  
 Braa implements its OWN snmp stack, so it does NOT need any SNMP libraries
 like net-snmp. The implementation is very dirty, supports only several data
 types, and in any case cannot be stated 'standard-conforming'! It was designed
 to be fast, and it is fast. For this reason (well, and also because of my
 laziness ;), there is no ASN.1 parser in braa - you HAVE to know the numerical
 values of OID's (for instance .1.3.6.1.2.1.1.5.0 instead of system.sysName.0).
